{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>palette - {{ exhibition.galleryTitle }}</title>
    <!-- mobile -->
    <link rel="stylesheet" href="{% static 'css/info_m.css' %}" media="(max-width:1200px)">
    <!-- web -->
    <link rel="stylesheet" href="{% static 'css/info.css' %}" media="(min-width:1200px)">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <link rel="shortcut icon" href="http://141.164.40.63:8000/media/websrc/favicon.ico" type="image/x-icon">
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'
    style="overflow-x:hidden; overflow-y:auto;">
    <div id="page">
        <header>
            <div id="logo">

                <body>
                    <a href="http://softcon.ga/">palette</a>
                </body>
            </div>
        </header>

        <div id="tab">
            <nav>
                <ul>
                    <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/'"><img
                                class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/home_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/star/'"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/star_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/saved/'"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/saved_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/search?key='"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/search_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button" onclick="location.href='{{ loginedURL }}'"><img
                                class="header_buttonimg" src="{{ loginedIMG }}" style="cursor:pointer;"></button></li>
                </ul>
            </nav>
        </div>

        <div class='gradient-back'></div>
        <img class='back-image' src="http://141.164.40.63:8000/media/database/{{ code }}/1.jpg">

        <div class='info-container'>
        
            <div class='divd1'>
                <a class='basic-title'>{{ exhibition.galleryTitle }}</a>
            </div>

            <div class='divd2'>
                <a class='basic-info'>{{ exhibition.galleryCreator }}</a>
            </div>

            <div class='info-cont'>
                <a class='basic-info'>
                    <p>{{ info|safe }}</p>
                </a>
            </div>

        </div>

        <div>
            <button class='basic-button' style="cursor:pointer;" onclick="enter()">입장</button>
        </div>

    </div>

    <script type="text/javascript">
        function enter() {
            window.location.href = "http://softcon.ga/redirect?to=gallery&n={{ code }}&p=1";
        }
    </script>

</body>

</html>
