{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>palette - 회원가입</title>
    <!-- mobile -->
    <link rel="stylesheet" href="{% static 'css/register_m.css' %}" media="(max-width:1200px)">
    <!-- web -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}" media="(min-width:1200px)">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <link rel="shortcut icon" href="http://141.164.40.63:8000/media/websrc/favicon.ico" type="image/x-icon">
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'
    style="overflow-x:hidden; overflow-y:auto;">
    <div id="page">
        <header>
            <div id="logo">

                <body>
                    <a href="http://softcon.ga/">palette</a>
                </body>
            </div>
        </header>

        <div id="tab">
            <nav>
                <ul>
                    <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/'"><img
                                class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/home_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/star/'"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/star_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/saved/'"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/saved_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/search?key='"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/search_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/login/'"><img
                                class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/user_icon.jpg" style="cursor:pointer;"></button></li>
                </ul>
            </nav>
        </div>

        <div class='gradient-back'></div>
        <img class='back-image' src="http://141.164.40.63:8000/media/websrc/register-back.jpg">

        <div class='info-container'>

            <div class='basic-title'>
                <a>회원가입</a>
            </div>

            <div class='basic-label'><a>이메일</a></div>
            <div>
                <input class='inputbox' type="text" id="email" name="email_field" autofocus>
            </div>

            <div class='basic-label'><a>비밀번호</a></div>
            <div class='small-label'><a>특수문자 !, @ 및 영문 대소문자, 숫자를 조합해 8자리 이상</a></div>
            <div>
                <input class='inputbox' type="password" id="password" name="password_field">
            </div>

            <div class='basic-label'><a>비밀번호 재입력</a></div>
            <div>
                <input class='inputbox' type="password" id="password2" name="password_field">
            </div>

            <div class='basic-label'><a>이름</a></div>
            <div>
                <input class='inputbox' type="text" id="name" name="name_field">
            </div>

            <div class='basic-label'><a>나이</a></div>
            <div>
                <input class='inputbox' type="number" id="age" name="age_field">
            </div>

            <div class='basic-label'><a>성별</a></div>
            <div>
                <input type="radio" name="gender" value="M" checked="checked">남
                <input type="radio" name="gender" value="W">여
            </div>

            <div>
                <p class='alert'>{{ alert }}</p>
            </div>
            <div class='small-label'><a onclick="openPrivacy();" style="cursor:pointer;">개인정보 처리방침</a></div>

        </div>

        <div>
            <button class='basic-button' onclick="input()" style="cursor:pointer;">약관 동의 및 회원가입</button>
        </div>

    </div>

    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>

</body>

</html>
