{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>palette</title>
    <!-- mobile -->
    <link rel="stylesheet" href="{% static 'css/basic_mobile.css' %}" media="(max-width:1200px)">
    <!-- web -->
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" media="(min-width:1200px)">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Quicksand&display=swap"
        rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <link rel="shortcut icon" href="http://141.164.40.63:8000/media/websrc/favicon.ico" type="image/x-icon">
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'
    style="overflow-x:hidden; overflow-y:auto;">
    <div id="page">
        <header>
            <div id="logo">

                <body>
                    <a href="http://softcon.ga/web/home/">palette</a>
                </body>
            </div>
        </header>

        <style>
            .header_buttonimg {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }

            .header_button {
                border: 0;
                outline: 0;
                box-shadow: none;
                background-color: white;
            }
        </style>

        <div id="tab">
            <nav>
                <ul>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/web/home/'"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/home_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/web/star/'"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/star_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/web/saved/'"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/saved_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
                            onclick="location.href='http://softcon.ga/web/search?key='"><img class="header_buttonimg"
                                src="http://141.164.40.63:8000/media/websrc/search_icon.jpg"
                                style="cursor:pointer;"></button></li>
                    <li><button type="button" class="header_button"
			    onclick="location.href='{{loginedURL}}'"><img class="header_buttonimg" src="{{loginedIMG}}"
                                style="cursor:pointer;"></button></li>
                </ul>
            </nav>
        </div>

        <style>
            .top-space {
                height: 60px;
            }
            .square_view{
                width:100px;
                height:100px;
                object-fit:cover;
                border-radius: 10px;
            }
        </style>

        <article>
            <section>
                <p class='top-space'></p>
            </section>

            <section>
		    <input onkeyup="enterkey();" type="text" id="search_field" value="{{keyword}}">
                <button class='ff_button' onclick="search()">검색</button>
            </section>

            <section>
                {% for data in datas %}
                <img onclick="location.href='http://softcon.ga/web/info?n={{ data }}'" class='square_view' src="http://141.164.40.63:8000/media/database/{{ data.galleryCode }}/1.jpg" style="cursor:pointer;">
                <p>전시회 제목 : {{ data.galleryTitle }}, 전시회 작가 : {{ data.galleryCreator }}, 전시회 코드 : {{ data.galleryCode }}</p>
                {% endfor %}
            </section>
        </article>

        <script type="text/javascript">
            var keyword
            function search() {
                keyword = document.getElementById("search_field").value;
                window.location.href = "http://softcon.ga/web/search?key=" + keyword;
            }

            function enterkey() {
                if (window.event.keyCode == 13) {
                    keyword = document.getElementById("search_field").value;
                    window.location.href = "http://softcon.ga/web/search?key=" + keyword;
                }
            }
        </script>

</body>

</html>
