{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>palette</title>
        <!-- mobile -->
	<link rel="stylesheet" href="{% static 'css/basic_mobile.css' %}" media="(max-width:1200px)">
        <!-- web -->
	<link rel="stylesheet" href="{% static 'css/basic.css' %}" media="(min-width:1200px)">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Quicksand&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="http://141.164.40.63:8000/media/websrc/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="page">
            <header>
                <div id="logo">
                    <body>
                        <a href="http://softcon.ga/web/star/">palette</a>
                    </body>
                </div>

                <nav>
                    <ul>
                        <li><a href="http://softcon.ga/web/home/">홈</a></li>
                        <li><a href="http://softcon.ga/web/star/">인기</a></li>
                        <li><a href="http://softcon.ga/web/saved/">저장</a></li>
                        <li><a href="http://softcon.ga/web/search/">검색</a></li>
                        <li><a href="http://softcon.ga/web/login/">계정</a></li>
                    </ul>
                </nav>
            </header>
            
            <style>
                .top-space{
                    height:60px;
                }
            </style>

            <article>
                <section>
                    <p class='top-space'></p>
                </section>

                <section>
                    <input type="text" id="search_field">
                    <button class='ff_button' onclick="search()">검색</button>
                </section>

		<section>
			{% for data in datas %}
			<p>{{ data.galleryTitle }}, {{ data.galleryCreator }}, {{ data.galleryCode }}</p>
			{% endfor %}
		</section>
            </article>  

	    <script type="text/javascript">
		var keyword
		function search(){
		    keyword = document.getElementById("search_field").value;
		    window.location.href="http://softcon.ga/web/search?key=" + keyword;
		}
	    </script>

        </div>
    </body>
</html>
