{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>palette</title>
        <!-- mobile -->
	<link rel="stylesheet" href="{% static 'css/basic_mobile.css' %}" media="(max-width:1200px)">
        <!-- web -->
	<link rel="stylesheet" href="{% static 'css/basic.css' %}" media="(min-width:1200px)">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Quicksand&display=swap" rel="stylesheet">

	    <meta name="viewport" content="width=device-width, initial-scale=0.8">

        <link rel="shortcut icon" href="http://141.164.40.63:8000/media/websrc/favicon.ico" type="image/x-icon">
    </head>
    <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false' style="overflow-x:hidden; overflow-y:auto;">
        <div id="page">
            <header>
                <div id="logo">
                    <body>
                        <a href="http://softcon.ga/">palette</a>
                    </body>
                </div>
            </header>

            <style>
                .header_buttonimg{
                    width:20px;
                    height:20px;
                    object-fit:contain;
                }
                .header_button{
                    border:0;
                    outline:0;
                    box-shadow:none;
                    background-color:white;
                }
            </style>

            <div id="tab">
                <nav>
                    <ul>
                        <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/'"><img class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/home_icon.jpg" style="cursor:pointer;"></button></li>
                        <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/star/'"><img class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/star_icon.jpg" style="cursor:pointer;"></button></li>
                        <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/saved/'"><img class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/saved_icon.jpg" style="cursor:pointer;"></button></li>
                        <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/search?key='"><img class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/search_icon.jpg" style="cursor:pointer;"></button></li>
			            <li><button type="button" class="header_button" onclick="location.href='http://softcon.ga/setting/'"><img class="header_buttonimg" src="http://141.164.40.63:8000/media/websrc/setting_icon.jpg" style="cursor:pointer;"></button></li>
                    </ul>
                </nav>
            </div>
            
            <style>
                .top-space{
                    height:60px;
                }
            </style>

            <article>
                <section>
                    <p class='top-space'></p>
                </section>

                <section>
                    <p>{{ username }}</p>
                    <p>{{ paid }}</p>
                    <button class='ff_button' onclick="logout()">로그아웃</button>
                </section>
            </article>  

        </div>

        <script type="text/javascript">
            function logout(){
                window.location.href = 'http://softcon.ga/redirect?to=logout';
            }
        </script>

    </body>
</html>
